[includeIf "gitdir:~/Projects/personal/"]
  path = ~/.gitconfig_personal

[includeIf "gitdir:~/Projects/work/"]
  path = ~/.gitconfig_work

[core]
  excludesfile = /Users/dpcardoso/.gitignore_global
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  tabs = 2
